@use './_main/reset';
@use './_main/font';
@use './_main/color' as *;
@use './_main/styles';

html, body, #root {
    height: 100vh;
}

.page {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: $darkShade5;
    box-shadow: $boxShadow;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: $boxShadowUp;

    .filterValue {
        padding: 0 15px;
        font-weight: 600;
        color: $darkShade50;
        cursor: pointer;
    }
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-40 {
    margin-right: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-40 {
    margin-left: 40px;
}

.w100 {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.box-shadow {
    box-shadow: $boxShadow;

    &:hover {
        box-shadow: $boxShadowDark;
    }
}